@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


body::-webkit-scrollbar {
    display: none;
}


nav {
    padding: 10px 40px 10px 70px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul div.items {
    padding: 0 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex: auto;
    position: absolute;
    
}

nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding: 20px 20px;
    color: #000;
}

nav ul div.items a:hover {
    color: #00bbf0;
}


@media screen and (max-width: 1052px) {
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul div.items {
        flex: 4;
    }
}

.container {
    width: 100%;
}

.container .row {
    width: 80%;
    margin: auto;
}

.container .row .header {
    width: 60%;
    text-align: center;
    margin: auto;
}

.container .row .header h1 {
    padding-top: 30px;
    font-size: 45px;
    color: #e19c30;
}

.container .row .header p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
 
.content .card {
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}

.content .card img {
    width: 100%;
    height: auto;
}

.content .card h4 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.content .card p {
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

