* {
    margin: 0;
    padding: 0;
    color: #070606;
    box-sizing: border-box;
    }

body {
    background: #fff;
    background-size: cover;
    color: #1a1919;
}

nav {
    padding: 10px 40px 10px 70px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul div.items {
    padding: 0 25px;
    font-family: sans-serif;
    margin-top: 50px;
    display: flex;
    flex: auto;
    position: absolute;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding: 20px 20px;
}

nav ul div.items a:hover {
    color: #00bbf0;
}

@media screen and (max-width: 1052px) {
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul div.items {
        flex: 4;
    }
}

header {
    margin: 0%;
    padding: 70px;
    font-weight: 700;
    font-size: 40px;
}

header h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
}
header p {
    font-weight: normal;
    font-size: 40px;
}
